certifi==2020.6.20
chardet==3.0.4
console-menu==0.6.0
cycler==0.10.0
idna==2.10
kiwisolver==1.2.0
matplotlib==3.3.2
numpy==1.19.2
Pillow==7.2.0
pyfiglet==0.8.post1
pyparsing==2.4.7
python-dateutil==2.8.1
requests==2.24.0
six==1.15.0
urllib3==1.25.10
windows-curses==2.1.0
